body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
}

.name {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.title {
  margin: 0;
  font-size: 18px;
}

.nav {
  background-color: #f1f1f1;
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.nav-list a:hover {
  color: #3498db;
}

.about,
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
}

.image img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Adjust the height as needed */
}

.image-text {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: left;
  border: 1px solid #ccc;
}

.image-text h3 {
  margin-top: 0;
}

.empty-section {
  height: 100px; /* Adjust the height as needed */
}

.text-box {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: left;
}

h2, h3 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}
